<%inherit file="/base.html"/>

<%block name="content">

<div class="king-layout2-main mt15" style="width:1200px;">
    <div class="king-block king-block-bordered king-block-themed mb0" style="width:1000px; margin-left: 100px;">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">选择菜单</h3>
        </div>
        <div class="king-block-content">
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                <div class="col-sm-9">
                    <select name="" id="select_local" class="form-control bk-valign-top">

                    </select>
                </div>
            </div>

            <div class="form-group has-feedback clearfix ">
                <label class="control-label col-sm-3 pt0" for="introduction">输入主机IP：</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" placeholder="多IP用换行分隔" id="ips"></textarea>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="king-btn mr10  king-success" id="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <template id="select_tpl">
        <option value="#biz_id#">#biz_name#</option>
    </template>

    <div class="king-block king-block-bordered king-block-themed mb0">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">数据展示</h3>
        </div>
        <div class="king-block-content">
            <div class="panel-body">
                <div class="king-page-box" id="local_infos">

                </div>
            </div>
            <!-- 设置面板End -->
        </div>
    </div>
    <template id="tpl_info">
        <div class="king-container clearfix" style="width: 49%;display: inline-block">
            <span style="top: 30px;">#id#</span>
            <div style="height: 300px; position: relative" id="#id#"
                 class="king-chart-box chart-line  k-chart" data-role="chart"></div>
        </div>
    </template>
</div>

<script>
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    // 创建图表
    function createKendoLineChart(conf) {
        $(conf.selector).kendoChart({
            transitions: false,
            legend: {
                position: "bottom"
            },
            colors: ['yellow'],
            theme: 'bootstrap',
            seriesDefaults: {
                type: 'line',
                style: "smooth",
                markers: {
                    visible: false
                }
            },
            series: conf.data.series,
            categoryAxis: {
                majorGridLines: {
                    visible: false
                },
                categories: conf.data.categories,
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: true,
                template: "#= category # #= value #"
            }
        });
        //重新绘制
        $(window).on('resize', function () {
            var chart = $(conf.selector).data("kendoChart");
            chart.redraw();
        });
    }

    // 图像初始化函数
    function initKendoLineChart(conf) {
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'POST',
            dataType: conf.dataType,
            success: function (res) {
                //获取数据成功
                if (res.result) {
                    var _html = "";
                    var tpl = $("#tpl_info").html();
                    for (var i = 0; res.data.length > i; i++) {
                        _html += renderTpl(tpl, res.data[i]);
                    }
                    $("#local_infos").html(_html);
                    for (var a = 0; res.data.length > a; a++) {
                        console.log(res.data[a])
                        var data = {
                            series: res.data[a].series,
                            categories: res.data[a].categories
                        };
                        createKendoLineChart({
                            selector: "#" + res.data[a].id, // 图表容器
                            data: data // 图表数据
                        });
                    }
                } else {
                    alert("获取图标数据失败")
                }
            }
        });
    }

    $(function () {
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_biz',
            type: 'POST',
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#select_tpl').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('select#select_local').html(_html);
            }
        });
        // 调用初始化图像函数
        initKendoLineChart({
            url: '${SITE_URL}get_photo_data',
            dataType: 'json',
        });
    });

    $("button#submit").click(function (e) {
        var ips = $("textarea#ips").val();
        var biz_id = $("select#select_local").val();
        console.log({"ips": ips, "biz_id": biz_id});
        $.post("${SITE_URL}get_photo_data", {"ips": ips, "biz_id": biz_id}, function (res) {
            if (res.result) {
                var _html = "";
                var tpl = $("#tpl_info").html();
                for (var i = 0; res.data.length > i; i++) {
                    _html += renderTpl(tpl, res.data[i]);
                }
                $("#local_infos").html(_html);
                for (var a = 0; res.data.length > a; a++) {
                    console.log(res.data[a])
                    var data = {
                        series: res.data[a].series,
                        categories: res.data[a].categories
                    };
                    createKendoLineChart({
                        selector: "#" + res.data[a].id, // 图表容器
                        data: data // 图表数据
                    });
                }
            } else {
                alert("获取图标数据失败")
            }
        })
    });


</script>

</%block>

<%block name='footerline'>
<hr class="guide-cutting-line">
</%block>


