<!DOCTYPE html>
<html>
  <head>
    <%block name='head'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>蓝鲸考试</title>
        <meta name="description" content=""/>
        <meta name="姜书村" content=""/>
        <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">
        <!-- bootstrap css -->
		    <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
		    <!-- 禁止bootstrap 响应式 （app根据自身需求启用或禁止bootstrap响应式） -->
		    <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
		    <!--自定义css-->
		    <link href="${STATIC_URL}css/bk.css?v=${STATIC_VERSION}" rel="stylesheet">
            <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
      <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/index.css?v=${STATIC_VERSION}">
      <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

      <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->

        <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
        <script type="text/javascript">
	    	  var app_id = "${APP_ID}";
			    var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
			    var static_url = "${STATIC_URL}"; // 静态资源前缀
	      </script>
            <!-- 尾部声明 start -->
    <!-- jquery js  -->
    <script src="${STATIC_URL}js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="${STATIC_URL}js/jquery.json-2.3.min.js" type="text/javascript"></script>
    <!-- bootstrap js  -->
    <script src="${STATIC_URL}assets/bootstrap-3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <!--配置js  勿删-->
    <script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datetimepicker/js/locales/bootstrap-datetimepicker.zh-TW.js" charset="UTF-8"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    ${self.body()}
    <!-- 兼容性设置 -->
    <!--[if lt IE 6]>\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5\x20\xe7\x89\x88\xe6\x9d\x83\xe6\x89\x80\xe6\x9c\x89<![endif]-->
    </%block>
  </head>

  <body>
    <!--顶部导航 Start-->
    <nav class="navbar navbar-default king-horizontal-nav2 navbar-mt0" role="navigation">
        <div class="container" style="width: 100%;">
            <div class="navbar-header col-md-4 col-sm-4 col-xs-4 logo">
                <a class="navbar-brand" href="${SITE_URL}">
                    蓝鲸智云考试
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                  <%
                    home = dev_guide = contactus = exam_use = ''
                    relative_path = APP_PATH
                    if relative_path == SITE_URL or relative_path.startswith(SITE_URL + "?"):
                      home = 'king-navbar-active'
                    elif relative_path.startswith(SITE_URL + "dev-guide/"):
                      dev_guide = 'king-navbar-active'
                    elif relative_path.startswith(SITE_URL + "contactus/"):
                      contactus = 'king-navbar-active'
                    elif relative_path.startswith(SITE_URL + "exam_use/"):
                      exam_use = 'king-navbar-active'
                  %>
                  <li class="${home}"><a href="${SITE_URL}"><span>首页</span></a></li>
                  <!--li class="${dev_guide}"><a href="${SITE_URL}dev-guide/"><span>折线图</span></a></li>
                  <li class="${contactus}"><a href="${SITE_URL}contactus/"><span>饼状图</span></a></li>
                  <li class="${exam_use}"><a href="${SITE_URL}exam_use/"><span>详情页</span></a></li-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <a href="###" class="avatar">
                    <img src="${STATIC_URL}img/getheadimg.jpg" width="40" alt="Avatar" class="avatar-img">
                    % if request.user.is_superuser:
                        <i class="crown"></i>
                    % endif
                    <span>${request.user.username}</span>
                  </a>
                  <!--退出登录-->
                  <a id="logout" href="${LOGOUT_URL}">注销</a>
                </ul>
            </div>
        </div>
    </nav>
    <!--顶部导航 End-->
    <!-- 固定宽度居中 start -->
    <%block name='content'></%block>
    <!-- 固定宽度表单居中 end -->
    <!-- 尾部声明 start -->
    <div class="foot" id="footer">
        <%block name='footerline'></%block>
        <ul class="links ft">
            <li>
                <a id="contact_us" class="link">QQ咨询(407887534)</a>
                | <a href="http://bbs.bk.tencent.com/forum.php" target="_blank" hotrep="hp.footer.feedback" class="link">蓝鲸论坛</a>
                | <a href="http://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">蓝鲸官网</a>
                | <a href="${BK_PLAT_HOST}" target="_blank" hotrep="hp.footer.feedback" class="link">蓝鲸智云工作台</a>
            </li>
            <li><p class="copyright">Copyright © 2012-${NOW.year} Tencent BlueKing. All Rights Reserved.</p> </li>
          <li><p class="copyright">姜书村考试用</p> </li>
        </ul>
      </div>
  </body>
</html>
